<html ng-app>
<head>
	<title>Carga un nuevo sector.</title>

	<meta charset="utf-8">

	<!-- Bootstrap CDN -->
	<link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">

	<!-- GMaps API -->
	<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
    </script>
	
	<!-- JQuery -->
	<script	src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js">
	</script>

	<!-- AngularJS -->
	 <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js">
	 </script>

	<script	src="map.js">
	</script>

	<style>
		#mapCanvas {
			height: 300px;
			margin: 0; padding: 0;
		}
	</style>
</head>

<body ng-controller="CtrlGMap">

	<div id="mapCanvas"></div>

	<form role="form" style="width: 30%; margin:0 auto;">
		
		<div class="form-inline">
			<div class="form-group">
				<label class="sr-only" for="lat">Latitud</label>
				<div class="input-group">
					<span class="input-group-addon">Lat</span>
					<input type="text" class="form-control" id="lat" ng-model="lat" disabled>
				</div>
			</div>

			<div class="form-group">
				<label class="sr-only" for="lng">Longitud</label>
				<div class="input-group">
					<span class="input-group-addon">Lng</span>
					<input type="text" class="form-control" id="lng" ng-model="lng" disabled>
				</div>
			</div>
		</div>

		<div class="form-group">
			<label for="name" class="control-label">Nombre del sector</label>
			<input name="name" id="name" class="form-control" ng-model="name" placeholder="Nombre del sector...">
		</div>

		<div class="form-group">
			<label for="name" class="control-label">Información del sector</label>
			<textarea name="info" class="form-control" rows="10" ng-model="info" placeholder="Información del sector..."></textarea>
		</div>
	</form>

</body>
</html>